# ===== ค่าที่ใช้ร่วมกันทุก service (ต้องเหมือนกัน) =====
JWT_SECRET=dev-secret-please-change-min-32-characters
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h
INTERNAL_API_KEY=dev-internal-key
TZ=Asia/Bangkok

# ===== user-service =====
USER_APP_PORT=8081
USER_DB_HOST=user-db
USER_DB_PORT=5432
USER_DB_USER=user_service
USER_DB_PASSWORD=secret
USER_DB_NAME=user_db
BCRYPT_COST=12

# ===== product-service =====
PRODUCT_APP_PORT=8082
PRODUCT_DB_HOST=product-db
PRODUCT_DB_PORT=5432
PRODUCT_DB_USER=product_service
PRODUCT_DB_PASSWORD=secret
PRODUCT_DB_NAME=product_db

# ===== rental-service =====
RENTAL_APP_PORT=8083
RENTAL_DB_HOST=rental-db
RENTAL_DB_PORT=5432
RENTAL_DB_USER=rental_service
RENTAL_DB_PASSWORD=secret
RENTAL_DB_NAME=rental_db
CORS_ORIGIN=http://localhost:3000
